@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model _123.OrderItemViewModel

<div class="card mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Thông tin Order Items</h6>
  </div>
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-outline-info" style="margin: 10px 40px 0;" data-toggle="modal" data-target="#orderitem-add" 
    data-url="@Url.Action($"Add")">Thêm mới</button>
    @await Html.PartialAsync("/Views/Admin/orderitemadd.cshtml", @Model.Order_Item)
  </div>

  <div class="card-body">
      <div class="table-responsive">
          <table class="table table-bordered styled-table" id="dataTable" width="100%" cellspacing="0">
              <thead>
                  <tr>
                      <th>Stt</th>
                      <th>Order ID</th>
                      <th>Product Name</th>
                      <th>Quantity</th>
                      <th>Price</th>
                      <th>Hành động</th>

                  </tr>
              </thead>
              <tbody>
                @for (int i = 0; i < Model.Order_Items.Count(); i++)
                {
                    <tr>
                        <td>@(i + 1)</td> <!-- Index -->
                        <td>@Model.Order_Items[i].OrderId</td>
                        <td>@Model.Order_Items[i].ProductName</td>
                        <td>@Model.Order_Items[i].Quantity</td>
                        <td>@Model.Order_Items[i].Price.ToString("C2")</td>
                        <td>
                                <button type="button" class="btn btn-outline-primary update-button" data-toggle="modal" data-target="#orderitem-@Model.Order_Items[i].OrderItemId" data-url="@Url.Action($"Edit/{@Model.Order_Items[i].OrderItemId}")">
                                <i class="material-icons" style="font-size: 14px">border_color</i>
                            </button>
                            @await Html.PartialAsync("/Views/Admin/orderitemedit.cshtml", @Model.Order_Items[i])
                                <button type="button" class="btn btn-outline-danger delete-button" data-toggle="modal" data-target="#orderitem-delete-@Model.Order_Items[i].OrderItemId" data-url="@Url.Action($"Delete/{@Model.Order_Items[i].OrderItemId}")">
                                <i class="material-icons" style="font-size: 14px">delete</i>
                            </button>
                            @await Html.PartialAsync("/Views/Admin/orderitemdelete.cshtml", @Model.Order_Items[i])
                        </td>
                    </tr>
                }
              </tbody>
          </table>
      </div>
  </div>
  <script> 
       
        let updateButtons = document.querySelectorAll('.update-button')
        let deleteButtons = document.querySelectorAll('.delete-button')

        if (role!=2) {
            updateButtons.forEach(button => {
                button.style.display = "none";
            });
            deleteButtons.forEach(button => {
                button.style.display = "none";
            });
        }
    </script> 
</div>
