@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<User>
<div class="card mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Thông tin users</h6>
  </div>
  <div class="card-body">
      <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                  <tr>
                      <th>Stt</th>
                      <th>UserName</th>
                      <th>Email</th>
                      <th>Phone</th>
                      <th>Address</th>
                  </tr>
              </thead>
              <tbody>
                @foreach (var user in Model)
                  {
                  <tr>
                      <td>@user.user_id</td>
                      <td>@user.username</td>
                      <td>@user.email</td>
                      <td>@user.phone_number</td>
                      <td>@user.address</td>
                  </tr>
                  }
                  
              </tbody>
          </table>
      </div>
  </div>
</div>
