<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HanDK</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_123.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/style.css">
    <!-- Thêm liên kết tới Font Awesome CDN -->
	<link rel="icon" type="image/png" href="~/images/HanDK-removebg.png" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,200;0,300;0,400;1,300&display=swap" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/loginPup.js"></script>
    <script src="~/js/audioPlayer.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <header>
  		<div class="header">
			<partial name="_LoginPopup" />
			<div class="header-child">
				<!-- Các icon bên trái -->
				<div class="left-icons">
					<span class="material-icons search-location-icon">location_on</span> <!-- Tìm kiếm vị trí -->
					<span class="material-icons icon-facebook-color">facebook</span> <!-- Facebook -->
					<span class="material-icons phone-volume-icon">phone</span> <!-- Điện thoại -->
					<div class="div">0976534850</div> <!-- Số điện thoại -->
				</div>

				<!-- Logo thương hiệu -->
				<img class="handk-icon" alt="HanDK" src="/images/HanDK-removebg.png" onclick="window.location='@Url.Action("Index", "Home")';" style="cursor: pointer;">

				<!-- Các icon bên phải -->
				<div class="right-icons">
					<span class="material-icons shopping-cart-icon">shopping_cart</span> <!-- Giỏ hàng -->
					<div style="display: flex;align-items: center">
						<span class="material-icons user-icon">person</span>
						<p style="padding: 0 10px; margin: 0" class="username"></p> <!-- Người dùng -->
					</div>
				</div>
			</div>
			<nav>
				<div class="wrapper">
					<ul class="nav-links">
						<li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
						<li>
    						<a href="javascript:void(0);">Danh mục <span class="arrowHover">&#8593;</span></a>
							<ul class="dropdown">
								<li>
									<a href="/category/nhanCauHon">Nhẫn cầu hôn</a>
									<ul class="dropdown1">
										<li>
											<a href="#" style="text-decoration: none; color: inherit; cursor: default; font-weight: lighter;">Kiểu dáng</a>
											<ul class="type">
												<li><a href="#">Solitaire</a></li>
												<li><a href="#">Cathedral</a></li>
												<li><a href="#">Halo</a></li>
												<li><a href="#">Bridge Accent</a></li>
												<li><a href="#">Twist</a></li>
												<li><a href="#">Royal</a></li>
												<li><a href="#">ThreeStone</a></li>
												<li><a href="#">Trellis</a></li>
											</ul>
											</li>
										<li>
											<a href="#" style="text-decoration: none; color: inherit; cursor: default; font-weight: lighter;">Kiểu viên chủ</a>
											<ul class="type">
												<li><a href="#">Round</a></li>
												<li><a href="#">Heart</a></li>
												<li><a href="#">Pear</a></li>
												<li><a href="#">Princess</a></li>
												<li><a href="#">Emerald</a></li>
												<li><a href="#">Oval</a></li>
											</ul>
											</li>
										<li>
											<a href="#" style="text-decoration: none; color: inherit; cursor: default; font-weight: lighter;">Bộ sưu tập</a>
											<ul class="type">
												<li><a href="#">My Princess</a></li>
												<li><a href="#">Tender Love</a></li>
												<li><a href="#">Holding You</a></li>
												<li><a href="#">Eternal Promise</a></li>
												<li><a href="#">Bridal Gown</a></li>
												<li><a href="#">Petite Bridal</a></li>
												<li><a href="#">Blooming</a></li>
												<li><a href="#">Spark Of Heaven</a></li>
											</ul>
										</li>
										<img class="header-drop" alt="" src="images\danhMuc1.png">								
									</ul>
								</li>
								<li>
									<a href="/category/nhanCuoi">Nhẫn cưới</a>
									<ul class="dropdown1">
										<li>
											<a href="#" style="text-decoration: none; color: inherit; cursor: default; font-weight: lighter;">Loại nhẫn</i></a>
											<ul class="type">
												<li><a href="#">Nhẫn cưới cặp</a></li>
												<li><a href="#">Nhẫn cưới nam</a></li>
												<li><a href="#">Nhẫn cưới nữ</a></li>
											</ul>
											</li>
										<li>
											<a href="#" style="text-decoration: none; color: inherit; cursor: default; font-weight: lighter;">Phong cách</a>
											<ul class="type">
												<li><a href="#">Nhẫn cưới Truyền Thống</a></li>
												<li><a href="#">Nhẫn cưới Hiện Đại</a></li>
												<li><a href="#">Nhẫn cưới Kim Cương</a></li>
												<li><a href="#">Nhẫn cưới Vương Miện</a></li>
												<li><a href="#">Nhẫn cưới Eternity</a></li>
												<li><a href="#">Nhẫn cưới Vintage</a></li>
											</ul>
											</li>
										<li>
											<a href="#" style="text-decoration: none; color: inherit; cursor: default; font-weight: lighter;">Chất liệu</a>
											<ul class="type">
												<li><a href="#">Vàng trắng</a></li>
												<li><a href="#">Vàng vàng</a></li>
												<li><a href="#">Vàng hồng</a></li>
												<li><a href="#">14K</a></li>
												<li><a href="#">18K</a></li>
												<li><a href="#">Platinum</a></li>
											</ul>
										</li>
										<li>
											<a href="#" style="text-decoration: none; color: inherit; cursor: default; font-weight: lighter;">Bộ sưu tập</a>
											<ul class="type">
												<li><a href="#">Our Story</a></li>
												<li><a href="#">Sweet & Sour</a></li>
												<li><a href="#">Flower Of Joy</a></li>
												<li><a href="#">Shape Of Love</a></li>
												<li><a href="#">Yêu thương vàng son</a></li>
											</ul>
										</li>
										<img class="header-drop" alt="" src="/images/danhMuc2.png">									
									</ul>
									</li>
								<li>
									<a href="/category/trangSuc">Trang sức</a>
									<ul class="dropdown1">
										<li>
											<a href="#" style="text-decoration: none; color: inherit; cursor: default; font-weight: lighter;">Loại trang sức</i></a>
											<ul class="type">
												<li><a href="#">Nhẫn kim cương</a></li>
												<li><a href="#">Nhẫn thời trang</a></li>
												<li><a href="#">Nhẫn nam</a></li>
												<li><a href="#">Bông tai</a></li>
												<li><a href="#">Dây chuyền</a></li>
												<li><a href="#">Vòng tay</a></li>
												<li><a href="#">Vàng thần tài</a></li>
											</ul>
											</li>
										<li>
											<a href="#" style="text-decoration: none; color: inherit; cursor: default; font-weight: lighter;">Chất liệu</a>
											<ul class="type">
												<li><a href="#">Vàng 14K</a></li>
												<li><a href="#">Vàng 18K</a></li>
												<li><a href="#">Bạch kim</a></li>
											</ul>
											</li>
										<li>
											<a href="#" style="text-decoration: none; color: inherit; cursor: default; font-weight: lighter;">Bộ sưu tập</a>
											<ul class="type">
												<li><a href="#">The Hearts</a></li>
												<li><a href="#">Brilliant Layering</a></li>
											</ul>
										</li>
										<img class="header-drop" alt="" src="/images/danhMuc3.png">								
									</ul>
									</li>
								<li>
									<a href="/category/kimCuong">Kim cương</a>
									<ul class="dropdown1">
										<li>
											<a href="#" style="text-decoration: none; color: inherit; cursor: default; font-weight: lighter;">Giá tiền</i></a>
											<ul class="type">
												<li><a href="#">Dưới 30 triệu</a></li>
												<li><a href="#">Từ 30 triệu đến 100 triệu</a></li>
												<li><a href="#">Từ 100 triệu đến 200 triệu</a></li>
												<li><a href="#">Từ 200 triệu đến 1 tỷ</a></li>
											</ul>
											</li>
										<li>
											<a href="#" style="text-decoration: none; color: inherit; cursor: default; font-weight: lighter;">Dáng</a>
											<ul class="type">
												<li><a href="#">Round</a></li>
												<li><a href="#">Princess</a></li>
												<li><a href="#">Oval</a></li>
												<li><a href="#">Pear</a></li>
												<li><a href="#">Emerald</a></li>
												<li><a href="#">Heart</a></li>
												<li><a href="#">Radiant</a></li>
												<li><a href="#">Marquise</a></li>
											</ul>
											</li>
										<li>
											<a href="#" style="text-decoration: none; color: inherit; cursor: default; font-weight: lighter;">Bảng giá kim cương GIA</a>
											<ul class="type">
												<li><a href="#">Giá kim cương 3 ly 6</a></li>
												<li><a href="#">Giá kim cương 4 ly 5</a></li>
												<li><a href="#">Giá kim cương 5 ly</a></li>
												<li><a href="#">Giá kim cương 5 ly 4</a></li>
											</ul>
										</li>
										<img class="header-drop" alt="" src="/images/danhMuc4.png">							
									</ul>
									</li>
								<li>
									<a href="/category/mens">Men's</a>
									<ul class="dropdown1">
										<li>
											<a href="#" style="text-decoration: none; color: inherit; cursor: default; font-weight: lighter;">Kiểu dáng</a>
											<ul class="type">
												<li><a href="#">Phong thuỷ</a></li>
												<li><a href="#">Signet</a></li>
												<li><a href="#">Fancy</a></li>
												<li><a href="#">Eternity</a></li>
											</ul>
										</li>
										<li>
											<a href="#" style="text-decoration: none; color: inherit; cursor: default; font-weight: lighter;">Bộ sưu tập</a>
											<ul class="type">
												<li><a href="#">True North</a></li>
											</ul>
										</li>
										<img class="header-drop" alt="" src="/images/danhMuc5.png">								
									</ul>
								</li>
							</ul>
							</li>
						<li>
							<a href="javascript:void(0);">Thông tin <span class="arrowHover">&#8593;</span></a>
							<ul class="dropdown">
								<li><a href="/thongTin/chinhSachThuHoiVaDoiTra">Thu hồi và đổi trả</a></li>
								<li><a href="/thongTin/huongDanDoSize">Hướng dẫn đo size</a></li>
								<li><a href="/thongTin/chinhSachThanhToan">Thanh toán</a></li>
								<li><a href="/thongTin/chinhSachBaoMatThongTin">Bảo mật thông tin</a></li>
								<li><a href="/thongTin/giaVang">Giá Vàng</a></li>
							</ul>
							</li>
						<li><a href="/khuyenMai" style="color: red; text-decoration: none;" onmouseover="this.style.color='blue'" onmouseout="this.style.color='red'">Khuyến mãi</a></li>
						<li><a href="/cauChuyenHanDK">HanDK</a></li>
					</ul>
					<div class="search-group">
							<input type="text" class="search-input" placeholder="Tìm kiếm...">
							<span class="material-icons search-icon">search</span>
						</div>	
				</div>
			</nav>

			<div class="music-player">
                <div class="toggle-player-btn">
        <i id="toggle-icon" class="fas fa-chevron-up"></i>
    </div>

    <div class="song-bar">
        <div class="song-infos">
            
            <div class="song-description">
                <p class="titleAudio" id="song-title"> </p>
            </div>
        </div>
    </div>
    <div class="progress-controller">
        <div class="control-buttons">
            <i class="fas fa-random" id="shuffle-btn"></i>
            <i class="fas fa-step-backward" id="prev-btn"></i>
            <i class="play-pause fas fa-play" id="play-pause-btn"></i>
            <i class="fas fa-step-forward" id="next-btn"></i>
            <i class="fas fa-undo-alt" id="repeat-btn"></i>
        </div>
        <img class="handk-icon1" alt="HanDK" src="/images/HanDK-removebg.png" onclick="window.location='@Url.Action("Index", "Home")';" style="cursor: pointer;">
        <div class="progress-container">
    <span id="current-time">0:00</span>
    <div class="progress-bar">
        <input type="range" id="progress-bar" value="0" step="1" />
    </div>
    <span id="duration">0:00</span>
</div>

    </div>
    <div class="other-features">
        <!-- Nút để hiển thị danh sách bài hát -->
<!-- Biểu tượng để hiển thị danh sách bài hát -->
    <div id="show-song-list-btn" class="icon-btn">
        <i class="fas fa-list-ul"></i> 
    </div>

<!-- Container chứa danh sách bài hát -->
<div id="song-list-container" style="display: none;">
    <ul id="song-list"></ul>
</div>
        <div class="volume-bar">
    <i class="fas fa-volume-down" id="volume-icon"></i>
    <div class="progress-bar">
        <input type="range" id="volume-control" value="100" min="0" max="100" step="1" />
    </div>
</div>


    </div>

    <!-- Audio element to play music -->
    <audio id="audio-player" preload="auto">
    </audio>
</div>
</div>
	</header>

    
        <main class="container">
            @RenderBody()
        </main>


    <footer>
        <div class="footer">
			<img class="handk-footer-icon" alt="" src="/images/HanDK_footer.png">
			<div class="tieu-de">
				<div class="tieude1">
					<h1>SẢN PHẨM</h1>
					<a href="/category/nhanCuoi" class="foot">Nhẫn cưới</a>
					<a href="/category/nhanCauHon" class="foot">Nhẫn cầu hôn</a>
					<a href="/category/trangSuc" class="foot">Trang sức</a>
					<a href="/category/kimCuong" class="foot">Kim cương</a>
					<a href="/category/mens" class="foot">Nhẫn nam</a>
				</div>

				<div class="tieude2">
					<h1>LIÊN HỆ</h1>
					<div class="text-foot">GỌI MUA HÀNG</div>
					<div class="foot">0976534850</div>
					<div class="foot">0976534850</div>
					<div class="foot">0976534850</div>
					<div class="text-foot">GÓP Ý KHIẾU NẠI</div>
					<div class="foot">0976534850</div>
					<div class="foot">Mail</div>
					
				</div>
				<div class="tieude3">
					<h1>HỖ TRỢ</h1>
					<a href="/thongTin/chinhSachThuHoiVaDoiTra" class="foot">Thu đổi</a>
					<a href="/thongTin/chinhSachThanhToan" class="foot">Thanh toán</a>
					<a href="/thongTin/chinhSachBaoMatThongTin" class="foot">Bảo mật thông tin</a>
					<a href="/thongTin/huongDanDoSize" class="foot">Hướng dẫn đo size</a>
					<a href="/thongTin/giaVang" class="foot">Giá Vàng</a>
				</div>

				<div class="tieude4">
					<h1>VỀ CHÚNG TÔI</h1>
					<a href="/cauChuyenHanDK" class="foot">Câu chuyện HanDK</a>
					<a href="/cuaHangHanDK" class="foot">Cửa hàng HanDK</a>
				</div>
			</div>	
    	</div>
    </footer>
    
    @await RenderSectionAsync("Scripts", required: false)

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="~/admin/js/snow.js"></script>

	<script>
		const username = document.querySelector('.username');
		username.innerHTML  += localStorage.getItem('username').toString();
	</script>

    <script>
        jQuery(function() {
            jQuery("body").snow({
            intensity: 2,           // Number of snowflakes
            sizeRange: [8, 16],      // Snowflake size range (min and max size in pixels)
            opacityRange: [0.4, 0.6],  // Snowflake opacity range
            driftRange: [10, 12],    // Horizontal drift (sideways movement range)
            speedRange: [55, 80]    // Falling speed range in pixels per second
            });
        });
    </script>

	
</body>
</html>